/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.Logo-Indie img {
	width: 100px;
	height: 55px;
	margin-left: 80px;
	margin-top: -8px;
	z-index: 6;
	  
  }
  .foto1 img{
	width: 250px;
	height: 230px;
	margin-left: 200px;
	margin-top: 200px;
	z-index: 1;
  }
  .foto-2 img{
	width: 250px;
	height: 230px;
	margin-left: 640px;
	margin-top: -250px;
	z-index: 1;
  }
  .imagen3 img{
	width: 240px;
	height: 220px;
	margin-left: 1070px;
	margin-top: -400px ;
	z-index: 1;
  }
  .foto4 img{
	width: 140px;
	height: 140px;
	margin-left: 680px;
	margin-top: 400px;
	z-index: 1;
  }
  .logo-footer img {
	width: 250px;
	height: 250x;
	margin-left: 41%;
	margin-top: 100px;
	z-index: 1;
	  
  }
  .primera-fila nav ul li img{
	width: 60px;
	height: 60px;

  }
  
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}